body {
    font-family: 'Caesar Dressing', cursive;
    font-family: 'Roboto', sans-serif;
    text-align: center;    
    font-family: 'Roboto', sans-serif;
    background: url(../img/pyramids3.jpg);
    background-color:#eeb96e;
    color: #d8640c;
    background-repeat: no-repeat;

}

h1 {
    font-family: 'Caesar Dressing', cursive;
    font-kerning: auto;
}

p, #results {
    font-size: 1.3em;
    font-weight: bold;
}

#submit{
    font-family: sans-serif;
    font-size: 16px;
    background-color: #eeb96e;
    color: rgb(3, 18, 104);
    cursor: pointer;
    margin-bottom: 18px;
    border: 0px;
    border-radius: 12px;
    padding: 10px;
}
#submit:hover{
    background-color: rgb(16, 105, 139);
    color: red;
}